@using System.Web.UI.HtmlControls
@model SD.HnD.Gui.Models.LoginModel

@{
    ViewBag.Title = "HnD | Login";
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li><a href="~/">Home</a></li>
				<li class="active">Log in</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="br-bottom mt30">Log in</h1>

			<div class="mb40">
				@using(Html.BeginForm("Login", "Login", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						@Html.TextBoxFor(m=>m.NickName, new {@class="form-control", @placeholder=" Nickname", @autofocus=""})
						@Html.ValidationMessageFor(m => m.NickName, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.PasswordFor(m=>m.Password, new {@class="form-control", @placeholder=" Password"})
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					</div>
					<div class="checkbox">
						<label>
							@Html.CheckBoxFor(m=>m.RememberMe)
							Remember me
						</label>
					</div>

					<div class="mt20">
						<button type="submit" class="btn btn-default"> Log in </button>
						<div class="pull-right">
							<a href="resetpassword.html" class="forgot"><small>Forgot your password?</small></a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

