@model SD.HnD.Gui.Models.ForumData

@{
	ViewBag.Title = string.Format("HnD | Threads of forum {0}, Page {1}", Model.ForumName, Model.PageNo);

	var newerButtonDisabledClass = string.Empty;
	var olderButtonDisabledClass = string.Empty;
	if(Model.PageNoNewerMessages < 1)
	{
		newerButtonDisabledClass = "disabled";
	}
	// we fetch 1 row extra each time. If the # of rows is equal to the page size, we know there's no extra page (as there would othewise
	// be 1 row extra). In that case disable the older button.
	if(Model.ThreadRows.Count <= Model.PageSize)
	{
		olderButtonDisabledClass = "disabled";
	}
}}

<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li><a href="~/">Home</a></li>
				<li>@Model.SectionName</li>
				<li class="active">@Model.ForumName</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 pt0 mt0">
			<h2 class="br-bottom pt0 mt0">@Model.ForumName</h2>
			<p>@Model.ForumDescription</p>
		</div>
	</div>
</div>
<section class="fs mt20">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 fs-header">
				<span class="plr7">Threads</span>
				<div class="pull-right">
					@if(Model.HasRSSFeed)
					{
						<a href="~/RssForum/@Model.ForumID" class="fs-tooltip" title="Forum RSS feed"><i class="fa fa-rss"></i></a>
					}
					&nbsp;<a href="#" class="fs-tooltip dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Search this forum">
						<i class="fa fa-search"></i>
					</a>&nbsp;
					<ul class="dropdown-menu plr10 inpageDropDown" role="menu" id="searchDropDown">
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="idSearchBox">Search for</label>
								<div class="input-group">
									<input type="search" id="idSearchBox" size="40" class="form-control" role="search" placeholder="Please type your question here"/>
									<div class="input-group-btn">
										<button class="btn btn-default"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
						</form>
					</ul>
					@if(Model.UserCanCreateThreads)
					{
						<a href="#" class="fs-tooltip" title="New thread"><i class="fa fa-plus"></i></a>
					}
					&nbsp;
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row fs-headingrow">
					<div class="col-sm-8 col-xs-8"><span class="pl50">Thread subject</span></div>
					<div class="col-sm-1 notonmobile plr10">Replies</div>
					<div class="col-sm-1 notonmobile plr10">Views</div>
					<div class="col-sm-2 col-xs-4 text-nowrap plr10">Last post</div>
				</div>
				@foreach(var threadRow in Model.ThreadRows)
				{
					var iconClass = "icon-nonewpost";
					var iconType = "fa-comments";
					var lastPostingDateAsString = "Never";
					var stickyClass = string.Empty;
					if(threadRow.IsClosed)
					{
						iconType = "fa-lock";
					}
					if(threadRow.IsSticky)
					{
						iconType = "fa-thumb-tack";
						stickyClass = " stickyThread";
					}
					if(threadRow.DateLastPost.HasValue)
					{
						lastPostingDateAsString = threadRow.DateLastPost.Value.ToString("dd-MMM-yyyy HH:mm");
						if(threadRow.DateLastPost.Value > Model.UserLastVisitDate)
						{
							iconClass = "icon-newpost";
						}
					}
					<div class="row fs-row @stickyClass">
						<div class="col-sm-8 col-xs-8">
							<div class="column-wrapper">
								<div class="column-fixed">
									<span class="empty-space-unanswered">&nbsp;</span><i class="fa @iconType @iconClass"></i>
								</div>
								<div class="column-fluent">
									<a href="~/Thread/@threadRow.ThreadID/1">@threadRow.Subject</a>
									<span class="list-row-description notonmobile"><br />Started by: <a href="~/User/@threadRow.UserIDThreadStarter">@threadRow.NickNameThreadStarter</a></span>
									@Html.Partial("ThreadPager", threadRow)
								</div>
								<div class="column-clear"></div>
							</div>
						</div>
						<div class="col-sm-1 notonmobile">@threadRow.NumberOfMessages</div>
						<div class="col-sm-1 notonmobile">@threadRow.NumberOfViews</div>
						<div class="col-sm-2 col-xs-4 text-nowrap-responsive">
							<a href="~/Message/@threadRow.ThreadID/@threadRow.MessageIDLastPost">@lastPostingDateAsString</a>
							<span class="list-row-description notonmobile"><br />By: <a href="~/User/@threadRow.UserIDLastPost">@threadRow.NickNameLastPost</a></span>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 pull-center pt20">
				<a class="btn btn-sm btn-default @newerButtonDisabledClass" href="~/Forum/@Model.ForumID/@Model.PageNoNewerMessages"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Newer </a>
				<a class="btn btn-sm btn-default @olderButtonDisabledClass" href="~/Forum/@Model.ForumID/@Model.PageNoOlderMessages"> Older&nbsp;&nbsp;<i class="fa fa-arrow-right"></i> </a>
			</div>
		</div>
	</div>
</section>

@section scripts
{
	<script type="text/javascript">
		/* make sure the search drop down stays open when the user clicks inside the input box */
		$('#searchDropDown').click(function (e) {
			e.stopPropagation();
		});
	</script>
}
