@using SD.HnD.Gui
@model SD.HnD.Gui.Models.RssForumData
@{
    Layout = null;
	var linkBase = "https://" + Context.Request.Host.Host + ApplicationAdapter.GetVirtualRoot();
}
@if(Model != null)
{
	<rss version="2.0">
		<channel>
			<title>@Model.SiteName @Model.ForumName feed</title>
			@Html.Raw("<link>" + @Model.ForumUrl + "</link>")
			<description>This is the RSS feed for the forum @Model.ForumName on the @Model.SiteName forum system.</description>
			<ttl>30</ttl>
			<language>en-us</language>
			@foreach(var forumItem in Model.ForumItems)
			{
				var postingDate = String.Format("{0:R}", forumItem.PostingDate.AddHours(-2));
				var linkString = linkBase + string.Format("Message/{0}/{1}", forumItem.ThreadID, forumItem.MessageID);
				<item>
					<title>@forumItem.Subject by @forumItem.NickName</title>
					<description>@forumItem.MessageTextAsHTML</description>
					<author>@forumItem.NickName</author>
					@Html.Raw("<link>" + @linkString + "</link>")
					<pubdate>@postingDate</pubdate>
					<category>@forumItem.Subject</category>
					<guid ispermalink="true">@linkString</guid>
				</item>
			}
		</channel>
	</rss>
}
