@model SD.HnD.Gui.Models.IgnoredSearchWordsData

@{
	ViewBag.Title = "HnD | Ignored Search Words";
}
<a id="top"></a>
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li><a href="~/">Home</a></li>
				<li><a href="~/Search">Search</a></li>
				<li>Ignored Search Words</li>
			</ol>
		</div>
	</div>
</div>
<section class="fs mt20">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 fs-header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 p0">
							<div class="fs-thread-header">
								<span class="plr7">Ignored Search Words</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				@Html.Raw(Model.GetWordListForColumn(0))
			</div>
			<div class="col-sm-2">
				@Html.Raw(Model.GetWordListForColumn(1))
			</div>
			<div class="col-sm-2">
				@Html.Raw(Model.GetWordListForColumn(2))
			</div>
			<div class="col-sm-2">
				@Html.Raw(Model.GetWordListForColumn(3))
			</div>
			<div class="col-sm-2">
				@Html.Raw(Model.GetWordListForColumn(4))
			</div>
		</div>
	</div>
</section>