@using SD.HnD.Gui
@model SD.HnD.Gui.Models.ThreadsData

@{
    ViewBag.Title = "HnD | My Bookmarks";
}}

<div class="container">
    <div class="row">
        <div class="col-sm-12 page-header-breadcrumbs">
            <ol class="breadcrumb plr0">
                <li><a href="~/">Home</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 pt0 mt0">
            <h2 class="br-bottom pt0 mt0">My Bookmarks</h2>
            <p>
	            The list of your bookmarked threads.
            </p>
        </div>
    </div>
</div>
<section class="fs mt20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 fs-header">
                My bookmarks
            </div>
        </div>
		@if(Model.ThreadRows.Count <= 0)
        {
            <div class="row fs-row pb30">
                <div class="col-sm-12">
                    You don't have any bookmarked threads.
                </div>
            </div>
		}
        else
        {
	        <form action="~/Account/UpdateBookmarks/" method="post" role="form" id="editBookmarksForm">
				@Html.AntiForgeryToken()
				<div class="row">
					<div class="col-sm-12">
						<div class="row fs-headingrow">
							<div class="col-sm-8 col-xs-8"><span class="pl35">Thread subject</span></div>
							<div class="col-sm-1 notonmobile plr10">Posts</div>
							<div class="col-sm-1 notonmobile plr10">Views</div>
							<div class="col-sm-2 col-xs-4 text-nowrap plr10">Last post</div>
						</div>
						@foreach(var bookmarkRow in Model.ThreadRows)
						{
							var iconClass = "icon-nonewpost";
							var iconType = "fa-comments";
							var lastPostingDateAsString = "Never";
							var stickyClass = string.Empty;
							if(bookmarkRow.IsClosed)
							{
								iconType = "fa-lock";
							}
							if(bookmarkRow.IsSticky)
							{
								iconType = "fa-thumb-tack";
								stickyClass = " stickyThread";
							}
							if(bookmarkRow.ThreadLastPostingDate.HasValue)
							{
								lastPostingDateAsString = bookmarkRow.ThreadLastPostingDate.Value.ToString("dd-MMM-yyyy HH:mm");
								if(bookmarkRow.ThreadLastPostingDate.Value > Context.Session.GetLastVisitDate())
								{
									iconClass = "icon-newpost";
								}
							}
							<div class="row fs-row @stickyClass">
								<div class="col-sm-8 col-xs-8">
									<div class="column-wrapper-sm">
										<div class="column-fixed-sm">
											<input id="bookmark_@bookmarkRow.ThreadID" name="threadIdsToUnbookmark" type="checkbox" value="@bookmarkRow.ThreadID" />
											<i class="fa @iconType @iconClass"></i>
										</div>
										<div class="column-fluent">
											<a href="~/Thread/@bookmarkRow.ThreadID/1">@bookmarkRow.Subject</a>
											<span class="list-row-description notonmobile pt3">
												Posted in forum: <a href="~/Forum/@bookmarkRow.ForumID/1">@bookmarkRow.ForumName</a><br/>
												Started by: <a href="~/User/@bookmarkRow.ThreadStartedByUserID">@bookmarkRow.ThreadStartedByNickName</a><br/>
											</span>
										</div>
										<div class="column-clear"></div>
									</div>
								</div>
								<div class="col-sm-1 notonmobile">@bookmarkRow.NumberOfMessages</div>
								<div class="col-sm-1 notonmobile">@bookmarkRow.NumberOfViews</div>
								<div class="col-sm-2 col-xs-4">
									<a href="~/Message/Goto/@bookmarkRow.MessageIDLastPost">@lastPostingDateAsString</a>
									<span class="list-row-description notonmobile pt3">
										By: <a href="~/User/@bookmarkRow.LastPostByUserID">@bookmarkRow.LastPostByNickName</a>
									</span>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="row pb10">
					<div class="col-sm-12 mt20">
						<button type="submit" class="btn btn-default">Un-bookmark checked threads</button>
					</div>
				</div>
			</form>
		}
    </div>
</section>



