@using Microsoft.AspNetCore.Mvc.Rendering
@model SD.HnD.Gui.Models.ResetPasswordData

@{
	ViewBag.Title = "HnD | Reset your Password";
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li><a href="~/">Home</a></li>
				<li class="active">Reset your password</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="br-bottom mt30">Reset your password</h1>
			<div class="mb40">
				@if(Model.EmailSent)
				{
					<span>
						We've successfully sent an email to your email address with a URL which allows you to reset the password for your account. 
					</span>	
				}
				else
				{
					@using(Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, true, new {role = "form"}))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true, "", new {@class = "text-danger"})
						<div class="form-group">
							@Html.TextBoxFor(m => m.NickName, new {@class = "form-control", placeholder = " Nickname", autofocus = ""})
							@Html.ValidationMessageFor(m => m.NickName, "", new {@class = "text-danger"})
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.EmailAddress, "Email-address ", new {@class = "control-label above-control"})
							@Html.TextBoxFor(m => m.EmailAddress, new {@class = "form-control", placeholder = " Email-address", autofocus = "true"})
							@Html.ValidationMessageFor(m => m.EmailAddress, "", new {@class = "text-danger"})
						</div>
						<div class="mt20">
							<button type="submit" class="btn btn-default btn-primary"> Send password reset link </button>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div>