@using Microsoft.AspNetCore.Mvc.Rendering
@model SD.HnD.Gui.Models.NewPasswordData
@{
    ViewBag.Title = "HnD | Specify new password";
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li><a href="~/">Home</a></li>
				<li class="active">Specify new password</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="br-bottom mt30">Specify new password</h1>
			<p>Please specify your new password below. The password has to be at least 10 characters long. 
				<br/><br/>
				
				When the password reset
				is successful, you'll be redirected to the login page automatically.
			</p><br/>
			<div class="mb40">
				@using(Html.BeginForm("SpecifyNewPassword", "Account", null, FormMethod.Post, true, new {role = "form"}))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						@Html.PasswordFor(m=>m.NewPassword, new {@class="form-control", placeholder=" New password"})
						@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.PasswordFor(m=>m.ConfirmNewPassword, new {@class="form-control", placeholder=" Please confirm your new password"})
						@Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
					</div>
					<div class="mt20">
						<button type="submit" class="btn btn-default btn-primary"> Reset password </button>
					</div>
				}
			</div>
		</div>
	</div>
</div>
